<div class="container form-text">
  <div class="row m-5 justify-content-center">
    <%= simple_form_for @cocktail do |f| %>
    <div class="row" >
      <div class="col-12">
        <%= f.input :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= f.input :photo, as: :file, input_html: { class: 'choose-file' } %>
      </div>
    </div>
    <div class="row justify-content-md-end">
      <%= f.submit "Save", class: 'btn btn-primary save' %>

    </div>
    <% end %>
  </div>
</div>