@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cinzel&family=Cinzel+Decorative&family=Petit+Formal+Script&family=Sofia&display=swap');
/*
font-family: 'Arizonia', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'Sofia', cursive;
*/

.showimg {
  background-position: center;
  background-size: cover;
}

.card-product {
  overflow: hidden;
  width: 100%;
  //background: rgb(204, 204, 204);
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  object-fit: cover;
  
  
}

.card-product h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 36px;
  font-weight: 600;
  color: aliceblue;
  text-shadow: 2px 1px 8px rgb(0, 0, 0), 0 0 1em rgba(129, 52, 0, 0.897), 0 0 1em rgba(39, 75, 117, 0.788);  
  padding: 16px 0 16px 0;
}
.card-product-title {
  padding: 0;
}
.card-product p {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 24px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: 600;
  color: aliceblue;
  text-shadow: 2px 1px 8px rgb(0, 0, 0), 0 0 1em rgba(129, 52, 0, 0.897), 0 0 1em rgba(39, 75, 117, 0.788);  
  padding: 16px 0 16px 0;

}

.card-product-infos {
  font-family: 'Cinzel Decorative', cursive;
  padding: 16px;
  color: rgb(231, 248, 255);
  font-weight: 500;
  font-size: 20px;
  text-shadow: 2px 2px 12px rgb(0, 0, 0), 0 0 1em rgba(129, 52, 0, 0.897), 0 0 1em rgba(39, 75, 117, 0.788);
}

.card-category {
  margin: 8px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgb(0, 0, 0);
  padding: 16px 48px;
  
}

.card-description {
  color: rgb(231, 248, 255);
  font-weight: 500;
  font-size: 20px;
  text-shadow: 2px 1px 8px rgb(0, 0, 0), 0 0 1em rgba(129, 52, 0, 0.897), 0 0 1em rgba(39, 75, 117, 0.788);
}

.card-description a {
  text-decoration: none;
  font-family: 'Cinzel Decorative', cursive;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 40px;
  text-shadow: 3px 3px 8px rgb(46, 46, 46), 0 0 1em rgba(145, 47, 17, 0.993), 0 0 1em rgb(24, 2, 146);
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key %>');
}

.del-icon {
  text-shadow: none;
  padding-left: 14px;
}