.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-category {
  margin: 16px;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(109, 109, 109);
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgb(0, 0, 0);
  padding: 8px 16px;
}

.card-description {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 20px;
  text-shadow: 2px 1px 6px rgb(68, 68, 68), 0 0 1em rgba(12, 12, 12, 0.698), 0 0 1em rgba(255, 255, 255, 0.698);
}

.card-description a {
  color: rgb(0, 81, 105);
  font-weight: 600;
  font-size: 32px;
  text-shadow: 2px 2px 8px rgb(255, 255, 255), 0 0 1em rgba(145, 47, 17, 0.698), 0 0 1em rgba(255, 255, 255, 0.698);
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key %>');
}