// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "form";

body {
  background-image: url('https://res.cloudinary.com/geuxor/image/upload/v1614952895/y79ssqsc11wmo6zasbqi.jpg');
  background-size: cover;
  background-position: center;
}